!!! 5
%html(lang='en')
  %head
    %title Stash
    %meta(charset='utf-8')
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %meta(name='author' content='Haukur Páll Hallvarðsson')
    %meta(name='description' content='Store, share and discover bookmarks!')
    = csrf_meta_tags
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/flatly/bootstrap.min.css'
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'
    = stylesheet_link_tag 'application'
  %body
    %nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          %a.navbar-brand(href='/') Stash
          %button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-responsive-collapse')
            %span.fa.fa-bars
        .navbar-collapse.collapse.navbar-responsive-collapse
          - if user_signed_in?
            %ul.nav.navbar-nav
              %li{class: active(home_path)}
                %a{href: home_path}
                  %i.fa.fa-list
                  All
              %li{class: active(favourites_path)}
                %a{href: favourites_path}
                  %i.fa.fa-star
                  Favourites
              %li{class: active(unread_path)}
                %a{href: unread_path}
                  %i.fa.fa-clock-o
                  Unread
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              - if @page != ''
                %a.btn.btn-success.navbar-btn{href: new_link_path(category: @page)}
                  %i.fa.fa-plus
                  New Link
              - else
                %a.btn.btn-success.navbar-btn{href: new_link_path}
                  %i.fa.fa-plus
                  New Link
              %li.pull-right
                %a#log-out
                  %i.fa.fa-power-off
                  Log Out
            - else
              %li{class: active(new_user_session_path)}
                %a{href: new_user_session_path}
                  %i.fa.fa-user.icon-white
                  Log In
    .container.content
      = yield
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'
    = javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
    = javascript_include_tag 'application'
    :javascript
      App = {
        sign_out_path: "#{destroy_user_session_path}"
      }
    = route_specific_javascript
